* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.contents {
  display: flex;
  width: 80%;
  height: 60%;
  justify-content: center;
  align-items: center;
}

.contents-title {
  color: black;
}

.list-container {
  list-style: none;
  text-align: center;
}

.list-item {
  font-size: 2.2rem;
}

.list-item:hover {
  color: lightgray;
}

.item {
  color: black;
}
